# Classification of reviews on SEPHORA dataset

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
import chardet

with open("C:\\Users\\hp\\Desktop\\dataMining\\sephora.csv", 'rb') as f:
    result = chardet.detect(f.read())

In [3]:
df = pd.read_csv("C:\\Users\\hp\\Desktop\\dataMining\\sephora.csv", encoding=result['encoding'] )

In [4]:
df.head()

,author_id,rating,review_text,skin_tone,eye_color,skin_type,hair_color,product_id,product_name,brand_name,Unnamed: 10,Unnamed: 11
0,1945004256,5,I absolutely L-O-V-E this oil. I have acne pro...,lightMedium,green,combination,NaN,P379064,Lotus Balancing & Hydrating Natural Face Treat...,Clarins,NaN,NaN
1,5478482359,3,I gave this 3 stars because it give me tiny li...,mediumTan,brown,oily,black,P379064,Lotus Balancing & Hydrating Natural Face Treat...,Clarins,NaN,NaN
2,29002209922,5,Works well as soon as I wash my face and pat d...,lightMedium,brown,dry,black,P379064,Lotus Balancing & Hydrating Natural Face Treat...,Clarins,NaN,NaN
3,7391078463,5,"this oil helped with hydration and breakouts, ...",lightMedium,brown,combination,blonde,P379064,Lotus Balancing & Hydrating Natural Face Treat...,Clarins,NaN,NaN
4,1766313888,5,This is my first product review ever so that s...,mediumTan,brown,combination,black,P379064,Lotus Balancing & Hydrating Natural Face Treat...,Clarins,NaN,NaN

In [5]:
df = df.drop(['Unnamed: 10', 'author_id','skin_tone','eye_color','skin_type','hair_color','product_id','product_name','brand_name','Unnamed: 11'], axis = 1)

In [6]:
df.head()

   rating                                        review_text
0       5  I absolutely L-O-V-E this oil. I have acne pro...
1       3  I gave this 3 stars because it give me tiny li...
2       5  Works well as soon as I wash my face and pat d...
3       5  this oil helped with hydration and breakouts, ...
4       5  This is my first product review ever so that s...

In [7]:
df['rating'].value_counts()

5    31709
4     7810
1     3928
3     3762
2     2767
Name: rating, dtype: int64

In [8]:
df=df.sample(10000)

In [9]:
df['rating'].value_counts()

5    6310
4    1585
3     796
1     746
2     563
Name: rating, dtype: int64

In [10]:
def mark_sentiment(rating):
    if(int(rating)<5):
        return 0
    else:
        return 1

In [11]:
df['rating']=df['rating'].apply(mark_sentiment)

In [12]:
df.head()

       rating                                        review_text
20729       1  I have read so many mixed reviews on Hum Count...
21625       1  Had a mini makeover to make my skin appear nic...
7118        1  I?ve been using this in the morning and love h...
33408       1  I received this product complimentary from Moo...
25310       1                   just used this and I?m loving it

In [13]:
df['rating'].value_counts()

1    6310
0    3690
Name: rating, dtype: int64

In [14]:
from sklearn.utils import shuffle
df = shuffle(df)

In [15]:
df.head()

       rating                                        review_text
7423        1  Love this stuff! My skin feels so smooth and l...
21147       1  I loved this I tried this for 2 weeks and it l...
21482       0  I really like this product, my skin is normal ...
36475       1  Love this stuff! I mix it with my moisturizer ...
26577       1  This is the perfect compliment to an excellent...

# Removing Stopwords

In [16]:
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [17]:
df['review_text'].fillna('', inplace=True)

In [18]:
df["review_text"] = df["review_text"].apply(lambda x: x.lower()) #changing the data to lowercase
df['review_text'] = df['review_text'].apply(lambda x: re.sub('[,\.!?:()"]', '', x)) #removing special characters
df['review_text'] = df['review_text'].apply(lambda x: re.sub('[^a-zA-Z"]', ' ', x))
df['review_text'] = df['review_text'].apply(lambda x: x.strip()) #removing space

In [19]:
df.head()

       rating                                        review_text
7423        1  love this stuff my skin feels so smooth and lo...
21147       1  i loved this i tried this for   weeks and it l...
21482       0  i really like this product my skin is normal t...
36475       1  love this stuff i mix it with my moisturizer d...
26577       1  this is the perfect compliment to an excellent...

In [20]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [21]:
def remove_stopwords(text):
    x=[]
    for i in text.split():
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [22]:
df['review_text']=df['review_text'].apply(remove_stopwords)

In [23]:
df.head()

       rating                                        review_text
7423        1  [love, stuff, skin, feels, smooth, looks, grea...
21147       1  [loved, tried, weeks, left, skin, much, softer...
21482       0  [really, like, product, skin, normal, dry, wor...
36475       1  [love, stuff, mix, moisturizer, day, beautiful...
26577       1  [perfect, compliment, excellent, line, skin, c...

# Stemming

In [24]:
from nltk.stem import PorterStemmer
ps= PorterStemmer()

In [25]:
y=[]
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [26]:
df['review_text']=df['review_text'].apply(stem_words)

In [27]:
df

       rating                                        review_text
7423        1  [love, stuff, skin, feel, smooth, look, great,...
21147       1  [love, tri, week, left, skin, much, softer, hy...
21482       0  [realli, like, product, skin, normal, dri, wor...
36475       1  [love, stuff, mix, moistur, day, beauti, glow,...
26577       1  [perfect, compliment, excel, line, skin, care,...
...       ...                                                ...
15730       1  [everybodi, tri, vitamin, f, technolog, amaz, ...
40268       0  [pretti, small, howev, still, like, found, eas...
31133       0  [ive, search, tri, anoth, self, tanner, go, tr...
16088       1  [sensit, skin, work, clear, control, acn, does...
25033       1      [use, mask, day, fave, avid, shiseido, lover]

[10000 rows x 2 columns]

In [28]:
def join_back(list_input):
    return " ".join(list_input)

In [29]:
df['review_text']=df['review_text'].apply(join_back)

In [30]:
df

       rating                                        review_text
7423        1  love stuff skin feel smooth look great use stu...
21147       1  love tri week left skin much softer hydrat abs...
21482       0  realli like product skin normal dri work perfe...
36475       1  love stuff mix moistur day beauti glow skim ne...
26577       1  perfect compliment excel line skin care use c ...
...       ...                                                ...
15730       1  everybodi tri vitamin f technolog amaz put vit...
40268       0  pretti small howev still like found easi use b...
31133       0  ive search tri anoth self tanner go tropez pur...
16088       1  sensit skin work clear control acn doesnt full...
25033       1              use mask day fave avid shiseido lover

[10000 rows x 2 columns]

In [31]:
from sklearn.model_selection import train_test_split
train_x, test_x, y_train,y_test=train_test_split(df["review_text"],
                                                 df["rating"],
                                                 test_size=0.20,
                                                 random_state=42)
print("X_train shape",train_x.shape)
print("y_train shape",test_x.shape)
print("X_test shape",y_train.shape)
print("y_test shape",y_test.shape)

X_train shape (8000,)
y_train shape (2000,)
X_test shape (8000,)
y_test shape (2000,)

In [32]:
from sklearn.feature_extraction.text import CountVectorizer

In [33]:
vectorizer=CountVectorizer()vectorizer=CountVectorizer()
X_train_vectorized=vectorizer.fit_transform(train_x)

3

In [34]:
X_test_vectorized=vectorizer.transform(test_x)

# Applying Multinomial Naive Bayes Classifier

In [35]:
from sklearn.naive_bayes import MultinomialNB

In [36]:
naive_bayes_classifier=MultinomialNB()
naive_bayes_classifier.fit(X_train_vectorized,y_train)

MultinomialNB()

In [37]:
Y_pred=naive_bayes_classifier.predict(X_test_vectorized)

# Evaluating model Accuracy and displaying Classification Report

In [38]:
from sklearn.metrics import accuracy_score,classification_report

In [39]:
accuracy=accuracy_score(y_test,Y_pred)
print("Accuracy: ",accuracy)

Accuracy:  0.7885

In [40]:
print(classification_report(y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.77      0.63      0.70       766
           1       0.79      0.89      0.84      1234

    accuracy                           0.79      2000
   macro avg       0.78      0.76      0.77      2000
weighted avg       0.79      0.79      0.78      2000

# Logistic Regression

In [41]:
from sklearn.linear_model import LogisticRegression

In [42]:
model=LogisticRegression()

In [43]:
model.fit(X_train_vectorized,y_train)

LogisticRegression()

In [44]:
Y_pred=model.predict(X_test_vectorized)

In [45]:
accuracy=accuracy_score(y_test,Y_pred)
print("accuracy of logistic regression: ",accuracy)

accuracy of logistic regression:  0.787